In [1]:
import numpy as np
import pandas as pd
import sklearn as sk

In [11]:
data=pd.read_csv('weight-height.csv')

In [21]:
data.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [14]:
y=data['Weight']
n=1000

In [15]:
x=data['Height']

In [17]:
m=np.random.randn(1,1)
c=np.random.randn(1,1)
a=0.001
for i in range(50):
    mi=(2/n)*-np.sum(np.multiply(x,(y-(m*x+c))))
    ci=()